.vscode
__pycache__
.config*

# Env
venv/

# Idea
.idea/

# Mac
*.DS_Store

# Data
data/

# Test notebooks
notebooks/
.ipynb_checkpoints/

# Notes
notes/

# Logs
*.log
logs
wandb
solutions

# Slurm
scripts/
create_scripts.py
config/bf_experiments/

poetry.lock
dist/